*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    
body{
    background-color: #563f2c;
}

nav{
    background-color: white;
    height: 3rem;
    font-size: 20px;
    justify-content: center;
    box-shadow: 10px 5px 5px rgb(17, 17, 17);
    align-items: center;
    margin: 0 auto;
    display: flex;
    
}

.animation{
    position: relative;
}

.animation span{
  position: relative;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(.2s * var(--i))
}
.animation{
    text-align: center;
    font-style: italic;
    font-size: 80px;
    margin-top: 200px;
    font-family:'Tiro Gurmukhi', serif;
}

@keyframes flip{
    0%,80%{
        transform: rotateY(380deg);
    }
}

a{
    color: #5e442f;
    text-decoration: none;
}

ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;    
    
}

ul, li, a{
    padding: 0 1rem;
}

li{
    font-size:25px;
   width: 200px;
   height: 60px;
   line-height: 80px;
   text-align: center;
   background-color: rgb(255, 255, 255);
   float: left;
   margin: 5px;
   list-style: none;
   font-weight: bold;
   color: #fff;
   cursor: pointer;
    -webkit-transform:scale(0.7); 
    -moz-transform:scale(0.7); 
   	-o-transform:scale(0.7);
   	transform:scale(0.7);
}
li:hover { 
   -webkit-transform:scale(1.2); 
      -moz-transform:scale(1.2); 
        -o-transform:scale(1.2); 
       	   transform:escala(1,2); 
}

/*imagem-cafe*/

img{
    height: 100px;
    margin-left: 1240px;
    margin-top: -100px;
}

h2{
    font-size: 35px;
    margin-left: 25px;
    margin-top: 130px;
    color: #5e442f;
    font-family: 'Poiret One', cursive;
    padding: 6px;
}

article{
    background-color: white;
}

table{
    border: 1px solid;
    border-radius: 2px;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    margin-left: 30px;
}

p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    padding: 5px;
    margin-left: 30px;
}

/*Localização*/

.localizacao{
    background-color: #563f2c;
    text-align: center;
}

.loc{
    color: white;
    padding: 20px;
}

.shop{
    color: white;
    margin-top: 10px;
}

